.header-container {
    border-bottom-style: dashed;
    border-color: grey;
    height: 90px;
    float: right;
}

.name-plate {
    font-size: 35px;
    padding-top: 16px;
    padding-left: 55px;
    height: 90px;
    float: right;
}

.navbar-col {
    height: 90px;
    padding-top: 18px;
    padding-right: 50px;
    float: right;
}

.nav-buttons {
    font-size: 20px;
    float: right;
}

.navbar {
    float: right;
}

a {
    color: gold;
}