/* Basic Template/About Page css */

.name-plate-col {
    font-size: 35px;
    padding-top: 16px;
    padding-left: 55px;
    height: 90px;
    float: right;
    /* border-style: inset; */
    background-color: grey;
}

.navbar-col {
    height: 90px;
    padding-top: 20px;
    padding-right: 55px;
    float: right;
}

.nav-buttons {
    font-size: 20px;
    float: right;
    /* give each button its own border and use radius */
}

.navbar {
    float: right;
}

a {
    color: gold;
}

a:hover, a:active {
    color: gold;
}

.row-1 {
    border-bottom-style: groove;
    border-bottom-width: 5px;
    margin-bottom: 75px;
}

.content-col {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 45px;
    height: 450px;
}

.sub-head {
    font-size: 35px;
    color: gold;
    border-bottom-style: solid;
    border-color: gray;
}

p {
    font-size: 20px;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.row-3 {
    margin-top: 105px;
    margin-bottom: 0;
    position: relative;
    bottom: 0;
}

.footer-col {
    position: relative;
    bottom: 0;
    height: 70px;
    line-height: 60px;
    background-color: grey;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: gold;
}

.footer-text {
    color: gold;
}

/* Portfolio Page Alterations */

.portfolio-col {
    height: 1100px;
}

.portfolio-sub-head {
    margin-bottom: 40px;
}

.work-div {
    margin-left: 28px;
}

.work {
    float: left;
    width: 250px; 
    margin: 25px;
    height: 200px;
}

.work-label {
    text-align: center;
    position: relative;
    bottom: 78px;
    height: 46px;
    line-height: 42px;
    background-color: grey;
    color: gold;
}

.link-images {
    height: 200px;
    width: 250px;
}

/* Contact Page Alterations */

.contact-col {
    padding-bottom: 450px;
}